@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&family=Edu+NSW+ACT+Foundation&family=Roboto+Flex:opsz@8..144&family=Work+Sans:wght@200&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h4,
h5,
h6,
ol,
ul {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  max-width: 1920px;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.popup{
  position: fixed;

  top: 50px;
  right: -100%;
  width:150px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.226);
  z-index: 100;
  display: flex;
  justify-content: center;
  transition: 0,3;
  flex-direction: column;
  color:white;
  
}
.popup.open{
right:5px ;
}
.menu-flex__link-popup{
  margin-bottom: 5px;
}
.header-background {
  background-image: url(./images/headerBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
}
.container {
  position: relative;
  max-width: 1340px;
  margin: 0 0 0 250px;
}
.menu-flex {
  width: 100%;
  position: absolute;
  top: 10px;
  height: 20px;

  display: flex;
  justify-content: space-between;
}

.menu-flex__logo {
  margin-top: 10px;
  font-size: 25px;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu-flex-span {
  color: #fff;
  margin-left: -4px;
}

.menu-flex__nav {
  width: 60%;
}
.menu-flex__link {
  display: inline-block;
  margin-right: 45px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 17er;
  transition: transform 300ms ease;
  cursor: pointer;
}
.menu-flex__link:hover {
  color: rgba(0, 255, 213, 0.596);
  transform: scale(1.2);
}

.menu-flex__icon {
  border-bottom: 12px double #fff;
  width: 50px;
  display: inline-block;
  cursor: pointer;
}
.menu-flex__icon:hover {
  border-bottom: 12px double rgba(121, 40, 40, 0.664);
}

.header-info {
  position: absolute;
  top: 249px;
  left: 300px;
}

.header-info__teg {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
}
.header-info__text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.sport-type {
  width: 80%;

  display: flex;
  position: absolute;
  justify-content: space-around;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  color: #fff;
  flex-wrap: wrap;
}

.sport-type__p {
  transition: transform 800ms ease;
  cursor: pointer;
}

.sport-type__p:hover {
  color: rgba(0, 217, 255, 0.712);
  transform: scale(1.2);
}
.header-title {
  height: 60px;
  width: 100%;
  position: relative;
  background-color: #f01b0d;
}
.main {
  color: black;
  height: auto;
}
.main-container-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-info {
  max-width: 640px;
  margin-bottom: 60px;
  transition: transform 1000ms ease;
  padding: 5px;
}
.main-info:hover {
  transform: scale(1.2);
  background-color: #82828228;
}
.main_p {
  font-family: "Roboto Flex";
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 24px;
}
.main-info__img {
  cursor: pointer;
}

.main-info__flex {
  margin-top: 19px;
}
.main-info__date {
  font-family: "Roboto Flex";
  font-size: 14px;
  color: #828282;
}
.main-info__separator {
}
.main-info__teg {
  font-family: "Roboto Flex";
  font-size: 14px;
  font-weight: 600;
}
.main-info__heading {
  font-family: "Roboto Flex";

  font-weight: 700;
  font-size: 26px;

  line-height: 32px;
  margin: 10px 0 10px 0;
}
.main-info__text {
  font-family: "Roboto Flex";
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 25px;
  color: #828282;
}
.person-comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.comment {
  max-width: 300px;
  max-height: 289px;
}
.comment__name {
  margin-top: 7px;

  color: black;
  text-align: center;
}
.comment__post {
  font-family: "Roboto Flex";
  font-size: 16px;
  text-align: center;
  margin-top: 6px;
}
.comment__info {
  font-family: "Roboto Flex";
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-top: 20px;
}

.comment__img-frame {
  position: relative;

  z-index: 1000;
  left: 63px;
  bottom: 57px;
}
.comment__img-ava {
  position: relative;
  left: 40px;
}
.main-picture {
  background-image: url(./images/Group\ 3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1920px;
  height: 536px;
  position: relative;
  color: #fff;
}
.contacts-flex {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-bottom: 60px;
  padding-top: 45px;
}
.contacts {
  font-family: "Roboto Flex";
}
.block-contacts {
  width: 680px;
  min-height: 180px;
  background-color: #f01b0d;
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  padding: 65px 45px 0 45px;
}
.block-contacts__img {
  width: 50px;
  height: 50px;
  transition: transform 400ms ease;
}
.block-contacts__img:hover {
  transform: scale(1.4);
}
.block-subscription {
  width: 680px;
  min-height: 180px;
  background-color: black;
}
.block-subscription__input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: wheat;
  outline: none;
  font-size: 25px;
  margin-left: 40px;
  margin-right: 20px;
}
.block-subscription__button {
  margin-top: 70px;
  background-color: red;
  color: wheat;
  font-family: "Roboto Flex";
  font-size: 25px;

  width: 220px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  transition: transform 300ms ease;
}

.block-subscription__button:hover {
  background-color: green;
  color: gold;

  transform: scale(1.1);
}
.main-picture02 {
  background-image: url(./images/Mask\ Group.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1920px;
  height: 536px;
  position: relative;
  color: #fff;
}
.main-picture02__h2 {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}
.main-picture02__p {
  font-family: "Roboto Flex";

  font-weight: 300;
  font-size: 22px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.6);
}

.footer {
  margin-top: 0;
  background-color: red;
  height: 265px;
  padding: 10px;
}
.footer-nav {
  display: flex;
  padding-top: 22px;
}
.footer-nav__h2 {
  width: 25%;
}
.footer-nav__a {
  width: 25%;
  text-decoration: none;
  color: #fff;
}
.footer-nav_targer {
  margin-top: -15px;
}
.footer-nav_targer-p {
  font-size: 18px;
}
.footer-nav_targer-a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.footer-nav_targer-a:hover {
  color: rgba(0, 66, 128, 0.678);
}
.footer-contacts {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.footer-contacts_logo {
  margin-right: 25px;
}
.footer-contacts_logo:hover {
  transform: scale(1.1);
}
.footer-info {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
margin: 0;
}
.footer-info__flex {
  display: flex;
}
.footer-info__img {
  width: 80px;
  height: 25px;
  margin-top: 21px;
  margin-right: 8px;
}
@media (max-width: 1650px) {
  .container {
    margin: 0 0 0 200px;
  }
  .header-info {
    left: 290px;
  }
}
@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
    margin: 0 0 0 200px;
  }
  .menu-flex__nav {
    width: 65%;
  }
  .header-info {
    left: 280px;
  }
}

@media (max-width: 1400px) {
  .header-background{
    height: 550px;
  }
  .container {
    max-width: 1100px;
    margin: 0 0 0 160px;
  }
  .menu-flex__nav {
    width: 72%;
  }
  .menu-flex__link {
    margin-right: 42px;
  }
  .header-info {
    left: 270px;
  }
  .main-info {
    width: 500px;
  }
  .block-subscription {
    width: 300px;
  
 
  }

  .block-subscription__input {
   margin-top: 30px;
    font-size: 24px;
   
    
  }
  .block-subscription__button {
position: relative;
bottom: 25px;
left: 40px;
   
  }
  
}
@media (max-width: 1300px) {
  .container {
    max-width: 1100px;
    margin: 0 0 0 150px;
  }
  .menu-flex__nav {
    width: 70%;
  }
  .menu-flex__link {
    margin-right: 36px;
  }
  .header-info {
    left: 240px;
  }
  .main-info {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1050px;
    margin: 0 0 0 100px;
  }
  .menu-flex__nav {
    width: 73%;
  }
  .menu-flex__link {
    margin-right: 33px;
  }
  .header-info {
    left: 250px;
  }
  .main-info {
    width: 480px;
  }
}

@media (max-width: 1100px) {

  .container {
    max-width: 900px;
    margin: 0 0 0 70px;
  }
  .menu-flex__nav {
    width: 73%;
  }
  .menu-flex__link {
    margin-right: 25px;
  }
  .header-info {
    left: 230px;
  }
  .main-info {
    width: 400px;
  }
  .block-contacts {
    width: 450px;
  }
  .block-subscription {
    width: 280px;
    margin-right: 40px;
    padding-right: 20px;
  
 
  }
  .block-subscription__input {
width: 80%;
font-size: 23px;
     }
}
@media (max-width: 1000px) {
  .container {
    max-width: 900px;
    margin: 0 30px 0 30px;
  }
  .menu-flex__nav {
    width: 85%;
  }
  .menu-flex__link {
    margin-right: 15px;
  }
  .header-info {
    left: 230px;
  }
  .main-info {
    width: 350px;
  }
  .block-contacts {
    width: 360px;
  }
  .block-subscription {
    width: 280px;
   
    
  
 
  }
  
  .block-subscription__input {
    width: 75%;
    font-size: 20px;

  }
    .block-subscription__button {
position: relative;
bottom: 25px;
left: 60px;
   width: 60%;
 
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 900px;
    margin: 0 0 0 43px;
  }
  .menu-flex{
    width: 100%;
  }
  .menu-flex__nav {
    width: 20%;
    margin-top: 20px;
  }
  .menu-flex__link {
    margin-right: 18px;
  }
  .menu-flex__link {
    display: none;
  }
  .header-info {
    left: 100px;
  }
  .main-info {
    width: 350px;
  }
  .sport-type{
    font-size: 14px;
     
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 758 px;
    margin: 0 5px 0 5px;
  }
  .menu-flex__nav {
    width: 20%;
  }
  .menu-flex__link {
    margin-right: 18px;
  }
  .menu-flex__link {
    display: none;
  }
  .header-info {
    left: 100px;
  }
  .main-info {
    width: 330px;
  }
  .block-subscription {
  
  }
  .block-contacts {
    width: 300px;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 650px;
    margin: 0 5px 0 5px;
  }
  .menu-flex__nav {
    width: 20%;
  }

  .menu-flex__link {
    display: none;
  }
  .header-info {
    left: 110px;
  }
  .main-info {
    width: 250px;
  }
  .block-subscription {
  width: 80%;
  margin: 0 auto;
  }
  .block-contacts {
    width: 80%;
    margin: 0 auto;
  }
  .contacts-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
    padding-bottom: 60px;
    padding-top: 45px;
}
.comment {
  max-width: 200px;
  max-height: 295px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  width: 80%;

  justify-content: center;
  padding-top: 22px;
}
.footer {
  margin-top: 0;
 
  height: auto;
  padding: 10px;
}
.footer-nav__h2 {
  width: 90%;
  padding-left: 35%;
}
.footer-nav__a {
  width: 90%;
  padding-left: 40%;

}
.footer-nav_targer {
  margin-top: -15px;
  width: 90%;
  padding-left: 40%;
}

}

@media (max-width: 550px) {
  .container {
    max-width: 490px;
    margin-left:35px;
   
  }
  .menu-flex__nav {
    width: 20%;
  }

  .menu-flex__link {
    display: none;
  }
  .header-info {
    left: 110px;
  }
  .main-info {
    width: 80%;
  }
  .block-subscription {
  width: 80%;
  margin: 0 auto;
  }
  .block-contacts {
    width: 80%;
    margin: 0 auto;
  }
  .contacts-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
    padding-bottom: 60px;
    padding-top: 45px;
}
.comment {
  max-width: 200px;
  max-height: 295px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  width: 80%;

  justify-content: center;
  padding-top: 22px;
}
.footer {
  margin-top: 0;
 
  height: auto;
  padding: 10px;
}
.footer-nav__h2 {
  width: 90%;
  padding-left: 35%;
  margin-bottom: 10px;
 
}
.footer-nav__a {
  width: 90%;
  padding-left: 40%;
margin-bottom: 5px;
}
.footer-nav_targer {
  margin-top: -15px;
  width: 90%;
  padding-left: 40%;
}
.footer-info{
flex-direction: column;
text-align: center;
}
.footer-contacts{
  flex-wrap: wrap;
}
.header-info__text{
  font-size: 20px;
}
}

@media (max-width: 300px) {
  .container {
    max-width: 290px;
    margin-left:25px;
   
  }
  .menu-flex__nav {
    width: 20%;
  }

  .menu-flex__link {
    display: none;
  }
  .header-info {
    left: 110px;
  }
  .main-info {
    width: 80%;
  }
  .block-subscription {
  width: 80%;
  margin: 0 auto;
  
  }
  .block-contacts {
    width: 80%;
    margin: 0 auto;
    
  }
  .contacts-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: black;
    padding-bottom: 60px;
    padding-top: 45px;
}
.comment {
  max-width: 200px;
  max-height: 295px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  width: 80%;

  justify-content: center;
  padding-top: 22px;
}
.footer {
  margin-top: 0;
 
  height: auto;
  padding: 10px;
}
.footer-nav__h2 {
  width: 90%;
  padding-left: 35%;
  margin-bottom: 10px;
 
}
.footer-nav__a {
  width: 90%;
  padding-left: 40%;
margin-bottom: 5px;
}
.footer-nav_targer {
  margin-top: -15px;
  width: 80%;
  padding-left: 40%;
}
.footer-nav_targer-a {
 
  margin-left:-30px;
}
.footer-info{
flex-direction: column;
text-align: center;
}
.footer-contacts{
  flex-wrap: wrap;
}
.header-info{
  top:100px;
  left: 5px;
}
.popup{
  width: 100%;
  padding: 15px;
  background-color: rgb(231, 6, 6);
}
.block-subscription__input {
  width: 90%;
  
  font-size: 15px;
  margin-left: 5px;

}
  .block-subscription__button {
position: relative;
bottom: 25px;
left: 20px;
 width: 80%;
 font-size: 15px;
}
.header-background{
height:400px;
}
.main-picture{
height: 250px;
}
.main-picture02{
  height: 300px;
}
}